<!-- brad-carousel: classe main -->
<div id="myCarousel" class="brad-carousel swiper">
  <button class="brad-btn brad-btn-icon swiper-button-prev">
    <em class="btn-icon i icon-ui-chevron-left"></em>
  </button>

  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="brad-card brad-card--default brad-p-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="brad-card brad-card--default brad-p-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="brad-card brad-card--default brad-p-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="brad-card brad-card--default brad-p-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="brad-card brad-card--default brad-p-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="brad-card brad-card--default brad-p-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="brad-card brad-card--default brad-p-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
    </div>
  </div>

  <button class="brad-btn brad-btn-icon swiper-button-next">
    <em class="btn-icon i icon-ui-chevron-right"></em>
  </button>

  <div class="brad-pagination"></div>
</div>
