<!--Overlay start-->
<canvas id="myCanvas" class="brad-overlay hidden" (click)="closeTutorial();"></canvas>
<!--Overlay end-->
<section>
  <div class="brad-flex brad-flex-justify-content-center brad-font-paragraph-md ">
    <a id="target-345" class="brad-text-link brad-p-sm" (click)="openTutorial('target-345');" role="button"> Step 1</a>
  </div>
  <div id="target-2" class="brad-card brad-card--default brad-p-lg">
    <div>
      <h1>Step 2</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </div>
  <button id="target-3" class="brad-btn brad-btn-primary brad-m-xl-t brad-p-sm">Step 3</button>
  <!--Popover stepper start-->
  <div class="brad-popover brad-popover-stepper" id="popover-151" role="dialog">
    <em class="brad-popover__triangle"></em>
    <div class="brad-flex  brad-flex-justify-content-between brad-popover-stepper__actions  brad-m-sm-b">
      <span></span>
      <a class="bps-close" (click)="closeTutorial();" role="button">Fechar tutorial</a>
    </div>
    <div class="brad-popover__content" role="document">
      <p class="brad-popover__text brad-font-subtitle-xs" role="document"></p>
    </div>
    <div class="brad-flex  brad-flex-justify-content-between brad-popover-stepper__actions brad-m-sm-t">
      <div class="brad-flex  brad-flex-align-items-center bps-prev bps-hidden" (click)="prevTutorial()" role="button">
        <span class="i icon-ui-chevron-left bps-icon "></span>
        <a> Anterior</a>
      </div>
      <div class="brad-flex  brad-flex-align-items-center bps-next" (click)="nextTutorial()" role="button">
        <a> Próximo</a>
        <span class="i icon-ui-chevron-right bps-icon "></span>
      </div>
    </div>
  </div>
  <!--Popover stepper end-->
</section>

<div class="brad-flex-start brad-font-paragraph-md brad-popover-default-section">
  <a id="first" class="brad-text-link"
    onclick="LiquidCorp.BradPopoverDefaultService.getInstance({'id': 'first-popover', 'idTarget':   'first'}).toggle();">
    OPEN POPOVER!</a>
  <div class="brad-popover-default" id="first-popover" role="dialog" aria-hidden=true>
    <em class="brad-popover-default__triangle brad-popover-default__triangle-bottom"></em>
    <div class="brad-popover-default__content" role="document" tabindex="-1">
      <p class="brad-popover-default__title brad-font-title-sm" role="heading">
        Título
      </p>
      <p class="brad-popover-default__text brad-font-subtitle-xs" role="document">
        Conteúdo
      </p>
    </div>
    <em role="button" aria-label="Fechar popover" class="brad-popover-default__close-icon"
      onclick="LiquidCorp.BradPopoverDefaultService.getInstance({'id': 'first-popover', 'idTarget': 'first'}).close()">
    </em>
  </div>
</div>

<div>
  <div id="drag1" class="brad-drag-and-drop relative overflow-hidden brad-drag-and-drop-limit">
    <div
      class="content-horizontal-spacing brad-drag-and-drop__container cards-personalizar containerFavoritos"
      id="favoritosPersonalizar"
      data-draggable="false"
    >
      <div
        class="card-item brad-flex"
        *ngFor="let cardFav of cardsPersonalizar.slice(0, 7); index as i"
      >
        <div
          class="brad-drag-and-drop__slot brad-rounded-lg"
          #node
          [attr.tabindex]="node.hasChildNodes() ? null : 0"
          [attr.role]="node.hasChildNodes() ? null : 'contentinfo'"
          [attr.data-empty-card]="node.hasChildNodes() ? null : true"
          [attr.aria-label]="
            node.hasChildNodes()
              ? null
              : ({
                  title: 'Espaço vazio',
                  index: i,
                  size: cardsPersonalizar.slice(0, 7).length + 1
                } | a11yButtonLabel)
          "
        >
          <div
            class="brad-drag-and-drop__content"
            #drag_content1
            [id]="cardFav.id"
            (click)="validateClick(drag_content1, $event)"
          >
            <div class="card btn">
              <div
                id="divIcon"
                class="icon brad-card brad-card--default brad-rounded-lg"
                [attr.for]="cardFav.id"
                (click)="validateClick(drag_content1, $event)"
              >
                <app-atom-icon
                  [name]="cardFav.icone"
                  [color]="'primary'"
                  size="sm"
                />
              </div>
              <div
                class="position-tag"
                [attr.for]="cardFav.id"
                (click)="validateClick(drag_content1, $event)"
              >
                <app-atom-icon
                  [name]="cardFav.container === 0 ? 'feedback-error-delete' : 'feedback-plus-add'"
                  [color]="'primary'"
                  size="xxs"
                  [attr.aria-label]="cardFav.title"
                  role="button"
                  tabindex="0"
                  [attr.aria-label]="
                    {
                      title:
                        cardFav.title +
                        '. ' +
                        (cardFav.container === 0
                          ? 'Remover dos favoritos'
                          : 'Adicionar aos favoritos'),
                      index: cardFav.position,
                      size:
                        cardFav.container === 0
                          ? cardsPersonalizar.slice(0, 7).length + 1
                          : undefined,
                      matriz: cardFav.container === 1 ? 4 : undefined
                    } | a11yButtonLabel
                  "
                />
              </div>
              <p
                class="label brad-font-subtitle-xxs card-label brad-flex brad-flex-justify-content-center"
                aria-hidden="true"
              >
                {{ cardFav.title }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="slot-cardSalvar card-item brad-flex">
        <div
          id="cardSalvar"
          (click)="handlePersonalization()"
          role="button"
          [tabindex]="blankSpacesInFavorites === 0 ? 0 : -1"
          [attr.aria-label]="
            {
              title: 'Salvar personalização',
              index: 7,
              size: cardsPersonalizar.slice(0, 7).length + 1
            } | a11yButtonLabel
          "
        >
          <div class="icon brad-card brad-card--default brad-rounded-lg" aria-hidden="true">
            <app-atom-icon
              name="ui-save"
              size="sm"
              [color]="
                blankSpacesInFavorites > 0
                  ? 'neutral-40'
                  : 'primary'
              "
            />
          </div>
          <p class="label brad-font-subtitle-xxs" aria-hidden="true">Salvar</p>
        </div>
      </div>
      <hr class="hr-personalizar" />
    </div>
    <section
      class="content-horizontal-spacing container-mais-servicos"
      [class.container-padding__spacing-ios]="isIosWithoutBt"
    >
      <h2
        id="maisServicosLabel"
        class="brad-font-paragraph-md brad-m-sm-t brad-m-sm-b"
        tabindex="0"
      >
        Mais serviços
      </h2>
      <div
        class="brad-drag-and-drop__container cards-personalizar"
        #maisServicos
        id="maisServicos"
        data-draggable="false"
      >
        <div
          class="card-item brad-flex"
          *ngFor="let cardFav of cardsPersonalizar.slice(7, cardsPersonalizar.length); index as i"
        >
          <div class="brad-drag-and-drop__slot brad-rounded-lg">
            <div
              class="brad-drag-and-drop__content"
              #drag_content2
              [id]="cardFav.id"
              (click)="validateClick(drag_content2, $event)"
            >
              <div class="card btn">
                <div id="divIcon" class="icon brad-card brad-card--default brad-rounded-lg">
                  <app-atom-icon
                    [name]="cardFav.icone"
                    [color]="'primary'"
                    size="sm"
                  />
                </div>
                <div class="position-tag">
                  <app-atom-icon
                    [name]="cardFav.container === 0 ? 'feedback-error-delete' : 'feedback-plus-add'"
                    [color]="'primary'"
                    size="xxs"
                    role="button"
                    tabindex="0"
                    [attr.aria-label]="
                      {
                        title:
                          cardFav.title +
                          '. ' +
                          (cardFav.container === 0
                            ? 'Remover dos favoritos'
                            : 'Adicionar aos favoritos'),
                        index: cardFav.position,
                        size:
                          cardFav.container === 0
                            ? cardsPersonalizar.slice(0, 7).length + 1
                            : undefined,
                        matriz: cardFav.container === 1 ? 4 : undefined
                      } | a11yButtonLabel
                    "
                  />
                </div>
                <p
                  class="label brad-font-subtitle-xxs card-label brad-flex brad-flex-justify-content-center"
                  aria-hidden="true"
                >
                  {{ cardFav.title }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="brad-flex"
          [class.card-item]="slotVazio.hasChildNodes()"
          *ngFor="let item of [].constructor(7)"
        >
          <div
            #slotVazio
            class="brad-drag-and-drop__slot brad-rounded-md brad-m-xs"
            [hidden]="true"
          ></div>
        </div>
      </div>
    </section>
  </div>
</div>
