<div class="content" role="main">
  <section>
    <div class="brad-flex brad-flex-column">
      <div class="brad-flex brad-flex-justify-content-center">
        <div class="brad-illustration__bg brad-illustration__bg--amoeba-2 brad-size-sm ">
          <img class="brad-illustration__content brad-illustration__content--erro-generico-err-pj-mobile" alt="Imagem erro generico">
        </div>
      </div>
      <div class="brad-flex brad-flex-column">
        <p class="brad-font-title-md brad-flex-align-self-center" aria-label="Algo deu errado.">Algo deu errado...</p>
        <p class="brad-font-paragraph-sm brad-flex-align-self-center texto-centralizado brad-m-xl-b" aria-label="Mas logo será resolvido. Por favor, volte mais tarde.">Mas logo será resolvido. <br/>Por favor, volte mais tarde.</p>
      </div>
  </div>
  </section>
  <div class="brad-m-xl-b bottom-container">
    <button class="brad-btn brad-btn-primary" (click)="voltar()" aria-label="Ok, entendi">Ok, entendi</button>
  </div>
</div>