<div id="drag1" class="brad-drag-and-drop">
  <div class="brad-drag-and-drop__container" data-draggable="true">
    <div class="brad-drag-and-drop__slot brad-rounded-xs brad-m-xs">
      <div class="brad-drag-and-drop__content" id="content1">
        <div class="brad-card brad-card--default brad-p-lg">
          <p><b>1-</b>Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
    </div>
    <div class="brad-drag-and-drop__slot brad-rounded-xs brad-m-xs">
      <div class="brad-drag-and-drop__content" id="content2">
        <div class="brad-card brad-card--default brad-p-lg">
          <p><b>2-</b>Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
    </div>
    <div class="brad-drag-and-drop__slot brad-rounded-xs brad-m-xs">
      <div class="brad-drag-and-drop__content" id="content3">
        <div class="brad-card brad-card--default brad-p-lg">
          <p><b>3-</b>Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
    </div>
    <div class="brad-drag-and-drop__slot brad-rounded-xs brad-m-xs">
      <div class="brad-drag-and-drop__content" id="content4">
        <div class="brad-card brad-card--default brad-p-lg">
          <p><b>4-</b>Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
    </div>
    <div class="brad-drag-and-drop__slot brad-rounded-xs brad-m-xs">
      <div class="brad-drag-and-drop__content" id="content5">
        <div class="brad-card brad-card--default brad-p-lg">
          <p><b>5-</b>Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
    </div>
    <div class="brad-drag-and-drop__slot brad-rounded-xs brad-m-xs">
      <div class="brad-drag-and-drop__content" id="content6">
        <div class="brad-card brad-card--default brad-p-lg">
          <p><b>6-</b>Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
    </div>
  </div>
</div>

<button
  class="brad-btn brad-btn-fab-label brad-btn--floating brad-btn-fab-label--on-color brad-btn-fab-label--not-active">
  <em class="fab-icon i"><em class="fab-icon i icon-ui-placeholder "></em></em>
  <div class="fab-text">FAB-LABEL</div>
</button>
<div style="height: 1000px; width:400px; background-color: pink;">
</div>

<button
  class="brad-btn brad-btn-fab-label brad-btn--floating brad-btn-fab-label--on-color brad-btn-fab-label--not-active">
  <em class="fab-icon i"><em class="fab-icon i icon-ui-placeholder "></em></em>
  <div class="fab-text">FAB-LABEL</div>
</button>