<!--Overlay start-->
<canvas id="myCanvas" class="brad-overlay hidden" (click)="closeTutorial();"></canvas>
<!--Overlay end-->
<section>
  <div class="brad-flex brad-flex-justify-content-center brad-font-paragraph-md ">
    <a id="target-345" class="brad-text-link brad-p-sm" (click)="openTutorial('target-345');" role="button"> Step 1</a>
  </div>
  <div id="target-2" class="brad-card brad-card--default brad-p-lg">
    <div>
      <h1>Step 2</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </div>
  <button id="target-3" class="brad-btn brad-btn-primary brad-m-xl-t brad-p-sm">Step 3</button>
  <!--Popover stepper start-->
  <div class="brad-popover brad-popover-stepper" id="popover-151"   role="dialog" aria-labelledby="popover-content">
    <em class="brad-popover__triangle"></em>
    <div class="brad-flex  brad-flex-justify-content-between brad-popover-stepper__actions  brad-m-sm-b">
      <span></span>
      <a class="bps-close" (click)="closeTutorial();" role="button">Fechar tutorial</a>
    </div>
    <div class="brad-popover__content" id="popover-content">
      <p class="brad-popover__text brad-font-subtitle-xs" aria-hidden="true"></p>
    </div>
    <div class="brad-flex  brad-flex-justify-content-between brad-popover-stepper__actions brad-m-sm-t">
      <div class="brad-flex  brad-flex-align-items-center bps-prev bps-hidden" (click)="prevTutorial()" role="button">
        <span class="i icon-ui-chevron-left bps-icon "></span>
        <a> Anterior</a>
      </div>
      <div class="brad-flex  brad-flex-align-items-center bps-next" (click)="nextTutorial()" role="button">
        <a> Próximo</a>
        <span class="i icon-ui-chevron-right bps-icon "></span>
      </div>
    </div>
  </div>
  <!--Popover stepper end-->
</section>

