<!--Overlay start-->
<canvas id="myCanvas" class="brad-overlay hidden" (click)="closeTutorial();"></canvas>
<!--Overlay end-->

<section class="container">
  <select [(ngModel)]="selectedOption" (ngModelChange)="onSelectionChange($event)">
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <option value="4">Option 4</option>
  </select>
  <div class="brad-flex brad-flex-justify-content-center brad-font-paragraph-md ">
    <a id="target-345" class="brad-text-link brad-p-sm" (click)="openTutorial('target-345', 0);"
      role="button">PopOver</a>
  </div>
  <!--Popover stepper start-->
  <div class="brad-popover brad-popover-stepper" id="popover-151" role="dialog">
    <em class="brad-popover__triangle"></em>
    <div class="brad-flex  brad-flex-justify-content-between brad-popover-stepper__actions  brad-m-sm-b">
      <span></span>
      <a class="bps-close" (click)="closeTutorial();" role="button">Fechar tutorial</a>
    </div>
    <div class="brad-popover__content" role="document">
      <p class="brad-popover__text brad-font-subtitle-xs" role="document"></p>
    </div>
    <div class="brad-flex  brad-flex-justify-content-between brad-popover-stepper__actions brad-m-sm-t">
      <div class="brad-flex  brad-flex-align-items-center bps-prev bps-hidden" (click)="prevTutorial()" role="button">
        <span class="i icon-ui-chevron-left bps-icon "></span>
        <a> Anterior</a>
      </div>
      <div class="brad-flex  brad-flex-align-items-center bps-next" (click)="nextTutorial()" role="button">
        <a> Próximo</a>
        <span class="i icon-ui-chevron-right bps-icon "></span>
      </div>
    </div>
  </div>
  <!--Popover stepper end-->
</section>

<div class="brad-flex-start brad-font-paragraph-md brad-popover-default-section">
  <a id="first" class="brad-text-link"
    onclick="LiquidCorp.BradPopoverDefaultService.getInstance({'id': 'first-popover', 'idTarget':   'first'}).toggle();">
    OPEN POPOVER!</a>
  <div class="brad-popover-default" id="first-popover" role="dialog" aria-hidden=true>
    <em class="brad-popover-default__triangle brad-popover-default__triangle-bottom"></em>
    <div class="brad-popover-default__content" role="document" tabindex="-1">
      <p class="brad-popover-default__title brad-font-title-sm" role="heading">
        Título
      </p>
      <p class="brad-popover-default__text brad-font-subtitle-xs" role="document">
        Conteúdo
      </p>
    </div>
    <em role="button" aria-label="Fechar popover" class="brad-popover-default__close-icon"
      onclick="LiquidCorp.BradPopoverDefaultService.getInstance({'id': 'first-popover', 'idTarget': 'first'}).close()">
    </em>
  </div>
</div>
