<section class="container__drag2">
  <div id="drag1" class="brad-drag-and-drop">
    <p>Favoritos</p>
    <div class="brad-drag-and-drop__container favourites brad-flex brad-flex-justify-content-start  brad-flex-wrap"
      data-draggable="false">
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="pix-1">
          <div class="brad-card brad-card--default brad-p-lg" #drag_content2
            (click)="clickRemove(drag_content2,$event)">
            <p><b>1-</b>Lorem ipsum dolor sit amet,</p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-md">
        <div class="brad-drag-and-drop__content" id="poupanca-2">
          <div class="brad-card brad-card--default brad-p-lg" #drag_content2
            (click)="clickRemove(drag_content2,$event)">
            <p><b>2-</b>Lorem ipsum dolor sit amet, </p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="creditos-3">
          <div class="brad-card brad-card--default brad-p-lg" #drag_content2
            (click)="clickRemove(drag_content2,$event)">
            <p><b>3-</b>Lorem ipsum dolor sit amet, </p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="cartoes-4">
          <div class="brad-card brad-card--default brad-p-lg" #drag_content2
            (click)="clickRemove(drag_content2,$event)">
            <p><b>4-</b>Lorem ipsum dolor sit amet,</p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="transferencias-5">
          <div class="brad-card brad-card--default brad-p-lg" #drag_content2
            (click)="clickRemove(drag_content2,$event)">
            <p><b>5-</b>Lorem ipsum dolor sit amet,</p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="extrato-6">
          <div class="brad-card brad-card--default brad-p-lg" #drag_content2
            (click)="clickRemove(drag_content2,$event)">
            <p><b>6-</b>Lorem ipsum dolor sit amet,</p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="saldo-7">
          <div class="brad-card brad-card--default brad-p-lg" #drag_content2
            (click)="clickRemove(drag_content2,$event)">
            <p><b>7-</b>Lorem ipsum dolor sit amet,</p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="beneficios-8">
          <div class="brad-card brad-card--default brad-p-lg" #drag_content2
            (click)="clickRemove(drag_content2,$event)">
            <p><b>8-</b>Lorem ipsum dolor sit amet,</p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="mimos-9">
          <div class="brad-card brad-card--default brad-p-lg" onclick="clickRemove(drag_content2,event)">
            <p><b>9-</b>Lorem ipsum dolor sit amet,</p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
      </div>

    </div>
    <p>Serviços</p>
    <div class="brad-drag-and-drop__container services brad-flex brad-flex-justify-content-start  brad-flex-wrap"
      data-draggable="false">
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="openfinance-10">
          <div class="brad-card brad-card--default brad-p-lg" onclick="clickRemove(drag_content2,event)">
            <p><b>10-</b>Lorem ipsum dolor sit amet,</p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="IR-11">
          <div class="brad-card brad-card--default brad-p-lg" onclick="clickRemove(drag_content2,event)">
            <p><b>11-</b>Lorem ipsum dolor sit amet,</p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
        <div class="brad-drag-and-drop__content" id="inss-12">
          <div class="brad-card brad-card--default brad-p-lg" onclick="clickRemove(drag_content2,event)">
            <p><b>12-</b>Lorem ipsum dolor sit amet,</p>
            <button class="brad-btn brad-btn-primary brad-btn-primary--md">change</button>
          </div>
        </div>
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
      </div>
      <div class="brad-drag-and-drop__slot example brad-rounded-md brad-m-xs">
      </div>
    </div>
  </div>
</section>
